
.preview-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preview-playback-controls {
    padding: 5px;
}

.preview-video-container {
    flex-grow: 1;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.preview-video {
    padding: 0;
    height: 100%;
    width: 100%;
}

.preview-timeline {
    width: 100%;
    margin-top: 5px;
}

.preview-playback-controls-frameshifter {
    margin-left: 5px;
    width: 30px;
}

.preview-playback-controls-play {
    margin-right: 5px;
}

