
.export-panel-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.export-panel-flex-section {
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.export-panel-text-line {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.export-panel-text-line input {
    box-sizing: border-box;
    width: 100%;
}

.export-panel-status-message {
    margin-top: "1em";
    margin-bottom: "1em";
    flex-grow: 1;
    overflow-y: "auto";
    font-size: "small";
    user-select: "text";
}
