.aspect-ratio-outter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    /* flex-basis: 1px; */
    min-height: 0;
}

.aspect-ratio-middle {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    /* padding-top is set by the script */
}

.aspect-ratio-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
