.app-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Not used */
.app-contents {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
}

.app-split-container {
    width: 100%;
    height: 100%;
    display: block;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-grow: 1; */
    box-sizing: border-box;
}

.filter-attribs-parent {
    position: absolute;
    top: 0;
    bottom: 0;
}
